html, body {
    background-color: #D1C6AD;
  }
  h1 {
    background-color: #BBADA0;
    border: 0.1cm;
    border:#080608;
  

  }

  h2 {
    background-color: #BBADA0;
  }

  nav {
    background-color: #A1869E;
    padding: 0.25cm;
  }